<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
body
    include ./includes/header.jade
    br
    br
    include ./includes/HS-002-content-registroUsuario.jade
    include ./includes/footer.jade
    
    