<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
body
    include ./includes/header.jade
    br
    br
    include ./includes/HS-009-content-DashboardAbogados.jade
    include ./includes/footer.jade