nav
    .nav-wrapper.light-blue.lighten-1.z-depth-4
        a(href="../images/Logo.png").brand-logo.center
            | TuAbogado.com
        a(href="#" data-activates="mobile-menu").button-collapse
            i.material-icons
                | menu

        ul.right.hide-on-med-and-down
            li
                a.waves-effect.waves-green(href="#")
                    | Registre su despacho
            li
                a.waves-effect.waves-green(href="./HS-005-ListaDeAbogados.html")
                    | Contactar un abogado
            li
                a.waves-effect.waves-green(href="./HS-001-login.html")
                    | Iniciar Sesión
            li
                a.waves-effect.waves-green(href="#")
                    | 
        ul.side-nav#mobile-menu
            li
                a.waves-effect.waves-green(href="#")
                    | Registre su despacho
            li
                a.waves-effect.waves-green(href="#")
                    | Contactar un abogado
            li
                a.waves-effect.waves-green(href="./HS-001-login.html")
                    | Iniciar Sesión
            li
                a.waves-effect.waves-green(href="#")
                    | 

.fixed-action-btn
    a(href="./home.html").btn-floating.btn-large.red
        i.large.material-icons live_help