meta(charset="UTF-8")
meta(content="IE=edge" http-equiv="X-UA-Compatible")
meta(content='width=device-width,initial-scale=1', name='viewport')
meta(name="keywords" content="legal,procesos legales, como proceder, demanda, abogados, peru,huancayo")
meta(name="description" content="¿Tiene una situación Jurídica por Resolver? Consultas Jurídicas Online Gratis con Abogados Especialistas en todas las áreas del Derecho.")
meta(name="author" content="AbogadosYa")
link(href="../styles/materialize.css", rel="stylesheet")
//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css")
link(href="../styles/icons.css", rel="stylesheet")
script(src="../js/bin/jquery.js")
script(src="../js/bin/materialize.min.js")
script(src="../js/sideNav.js")
script(src="../js/modal.js")
script(src="../js/forms.js")