.parallax-container
    .parallax
        img(src="../images/portada1.jpg", alt="")
.section.white
    .row.container
    h2.header.center.indigo-text ¿Cómo funciona TuAbogado.com?
.container    
    .section
        .row
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large question_answer
                    h5.center ¿No tiene idea de cúal es su problema?
                    p.light
                        | En TuAbogado.com sólo necesita sólo necesita responder algunas preguntas muy sencillas, de esta forma sabremos cúal es su problema y le presentaremos la solución que usted necesita.
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large settings_applications
                    h5.center Sistema experto de Consultas
                    p.light
                        | Gracias a la base de conocimiento implementado por los mejores abogados del pais, podemos analizar sus respuestas y llegar a sabe cúal es su problema.
                        p.purple-text.center !Al igual que si hablara con un abogado en persona!
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large group
                    h5.center Consulte a un abogado
                    p.light
                        | Usted tambien cuenta con los mejores abogados a su disposición, sólo dirijase a la pestaña de "Contactar a un abogado".
                        | En esta sección podrá contactar directamente con el abogado, al finalizar la consulta usted podrá calificar la consulta
                        | o también poner comentarios, de esta forma mejorar el servicio ofrecido.
.parallax-container
    .parallax
        img(src="../images/portada2.jpg", alt="")
.container.center    
    .section
        .row
            h4.center.indigo-text Temas de interes
        .row
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Derecho Civil
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Derecho Penal
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Derecho Laboral
        .row
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Familia Civil
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Familia Tutelar
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Derecho Constitucional
        .row
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Trámite Rehabilitación
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Trámite Homonimias
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Trámite Viajes al Extranjero
        .row
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Certificados Antecedentes Penales
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Trámite Garantías Personales
            .col.s12.m4
                .card-panel.blue-grey.darken-1
                    card-content.white-text
                        span.card-tittle Temas Varios

            

.parallax-container
    .parallax
        img(src="../images/portada3.jpg", alt="")
.container    
    .section
        .row
            h4.center.indigo-text Foro de Consultas
        .row
            .col.offset-m3.m6.s12
                .carousel.carousel-slider
                    a(href="#one!").carousel-item
                        img(src="../images/portada1.jpg", alt="")
                    a(href="#two!").carousel-item
                        img(src="../images/portada2.jpg", alt="")
                    a(href="#three!").carousel-item
                        img(src="../images/portada3.jpg", alt="")
        .row
            .col.offset-m3.m6.s12
                p.purple-text ¿Aún tienes dudas? Descuida el foro de consultas te permite hacer preguntas a toda la comunidad de TuAbogado.com

            
#modal1.modal
    .modal-content.light-blue.lighten-1
        h4.center Sistema Experto de Consultas
        .row
            .col.m3.s12
                img(src="../images/ibrother-popup.png", alt="Persona amigable").responsive
            .col.m9.s12
                .row
                    .col.m12.s12
                        .card
                            .card-content
                                .card-title ¿Necesita ayuda?
                                form#contenido
                                    p Usted sólo necesita responder algunas preguntas muy sencillas, de esta forma sabremos cúal es su problema y le presentaremos la solución que usted necesita.
                                    br
                                    a(href="./HS-003-SistemaExperto.html")#se.btn.waves-effect.waves-light.indigo.darken-4.right Aceptar
                                        i.material-icons.right send
                                    br
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cerrar
script.
    $(document).ready(function(){
        $('.modal').modal();
        $('#modal1').modal('open');
        $('.parallax').parallax();
        $('.carousel.carousel-slider').carousel({fullWidth: true});
        $('.card-panel.blue-grey.darken-1').mouseenter(function() {
            $(this).removeClass("blue-grey darken-1");
            $(this).addClass("indigo");

        });
        $('.card-panel.blue-grey.darken-1').mouseleave(function() {
            $(this).removeClass("indigo");
            $(this).addClass("blue-grey darken-1");
        });
    });