.parallax-container
    .parallax
        img(src="../images/portada1.jpg", alt="")
.section.white
    .row.container
    h2.header.center.indigo-text ¿Cómo funciona TuAbogado.com?
.container    
    .section
        .row
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large flash_on
                    h5.center Speeds up joder
                    p.light
                        | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large group
                    h5.center User Experience Focused
                    p.light
                        | By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
            .col.s12.m4
                
                    h2.center.brown-text
                        i.material-icons.large settings
                    h5.center Easy to work with
                    p.light
                        | We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.

.parallax-container
    .parallax
        img(src="../images/portada2.jpg", alt="")
.parallax-container
    .parallax
        img(src="../images/portada3.jpg", alt="")
            
#modal1.modal
    .modal-content.light-blue.lighten-1
        h4.center Sistema Experto de Consultas
        .row
            .col.m3.s12
                img(src="../images/ibrother-popup.png", alt="Persona amigable").responsive
            .col.m9.s12
                .row
                    .col.m12.s12
                        .card
                            .card-content
                                .card-title ¿Necesita ayuda?
                                form#contenido
                                    p Usted sólo necesita responder algunas preguntas muy sencillas, de esta forma sabremos cúal es su problema y le presentaremos la solución que usted necesita.
                                    br
                                    a(href="./HS-003-SistemaExperto.html")#se.btn.waves-effect.waves-light.indigo.darken-4.right Aceptar
                                        i.material-icons.right send
                                    br
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cerrar
script.
    $(document).ready(function(){
        $('.modal').modal();
        $('#modal1').modal('open');
        $('.parallax').parallax();
    });