.Fakebody

#modal1.modal
    .modal-content
        h4 Iniciar sesi칩n 
        .row
            form.col.s12
                .row
                    .input-field.col.s12
                        input.validate(type='text')
                        label(for='Usuario') Usuario
                    .input-field.col.s12
                        input.validate(type='password')
                        label(for='password') Contrase침a
                    a(href="./home.html").btn.waves-effect.waves-light.indigo.darken-4.right Enviar
        .row
            .col.s12.center
                a(href="./HS-002-registroUsuario.html").blue-text.text-darken-2 Crear cuenta
                hr
                a(href="#").blue-text.text-darken-2 Olvid칩 su Contrase침a?

script.
    $(document).ready(function(){
        $('.modal').modal();
        $('#modal1').modal('open');
    });
        $('.Fakebody').mouseenter(function() {
            window.location.href = "./home.html";

        });
