.container
    .row
        nav.teal.lighten-2
            .nav-wrapper
                .col.s12
                    a.breadcrumb(href='home.html')
                        i.material-icons dashboard
                    a.breadcrumb(href='HS-005-ListaDeAbogados.html') Abogados
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados.responsive-img.materialboxed
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green.pulse
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                        .col.m6.s6
                            p.green-text En línea
                    .row
                        p.indigo-text.center A 31 km de ti
                    .row.center
                        a.btn.waves-effect.waves-light.blue.white-text(href="HS-006-DetalleAbogado.html") Detalles
                    
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados.responsive-img.materialboxed
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green.pulse
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                    .row
                        p.indigo-text.center A sólo 12 km de ti
                    .row.center
                        a.btn.waves-effect.waves-light.blue.white-text(href="HS-006-DetalleAbogado.html") Detalles
                    
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados.responsive-img.materialboxed
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green.pulse
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                        .col.m6.s6
                            p.green-text En línea
                    .row
                        p.indigo-text.center A sólo 10 km de ti
                    .row.center
                        a.btn.waves-effect.waves-light.blue.white-text(href="HS-006-DetalleAbogado.html") Detalles
                    
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados.responsive-img.materialboxed
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green.pulse
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                    .row
                        p.indigo-text.center A sólo 7 km de ti
                    .row.center
                        a.btn.waves-effect.waves-light.blue.white-text(href="HS-006-DetalleAbogado.html") Detalles

#modal1.modal
    .modal-content.light-blue.lighten-1
        h4.center Contacto
        .row
            .col.m10.s12
                .row
                    .col.m12.s12
                        .card
                            .card-content
                                .card-title Esta apunto de contactar con Carlos Casas
                                form#contenido
                                    p El pago por realizar una llamada es de S/ 2.00, esto le da derecho a 5 minutos de llamada en la cual usted podrá chatear, grabar la conversación, o simplemente hablar.
                                    br
                                    a(href="./HS-006-LlamarAbogados.html")#se.btn.waves-effect.waves-light.indigo.darken-4.right Continuar
                                        i.material-icons.right shopping_cart
                                    br
            .col.m2.s12
                img(src="../images/ifemale.png", alt="Persona amigable").responsive
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cerrar

script.
    $("a.btn-floating.halfway-fab.waves-effect.waves-light.green.pulse").click(function(){
        $('.modal').modal();
        $('#modal1').modal('open');

    });

    $("img").click(function() {
        $(this).removeClass("abogados");
        $('.materialboxed').materialbox();
        
    });
    //$("img").addClass("abogados");

