.container
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti
    .row
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado2.jpg", alt="").abogados
                    span.card-title Carlos Casas
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.8
                    .row
                        p.indigo-text.center A 31 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado4.jpg", alt="").abogados
                    span.card-title Fabian Larco
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 17:09 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.4
                    .row
                        p.indigo-text.center A sólo 12 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado5.jpg", alt="").abogados
                    span.card-title Marleny Soto
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            p.green-text En línea
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 8.1
                    .row
                        p.indigo-text.center A sólo 10 km de ti
        .col.s12.m3
            .card.abogadoContenedor
                .card-image
                    img(src="../images/abogado1.jpg", alt="").abogados
                    span.card-title Luis Reyes
                    a.btn-floating.halfway-fab.waves-effect.waves-light.green
                        i.material-icons call
                .card-content
                    .row
                        .col.m6.s6
                            marquee(scrollAmount = "3")
                                p.black-text Ult. vez hoy a las 15:33 horas
                            button.waves-effect.waves-light.blue.white-text Detalles
                        .col.m6.s6
                            em.blue-text.center Puntuación
                            br
                            p.red-text.center 7.8
                    .row
                        p.indigo-text.center A 17 km de ti

#modal1.modal
    .modal-content.light-blue.lighten-1
        h4.center Contacto
        .row
            .col.m10.s12
                .row
                    .col.m12.s12
                        .card
                            .card-content
                                .card-title Esta apunto de contactar con Carlos Casas
                                form#contenido
                                    p El pago por realizar una llamada es de S/ 2.00, esto le da derecho a 5 minutos de llamada en la cual usted podrá chatear, grabar la conversación, o simplemente hablar.
                                    br
                                    a(href="./HS-003-SistemaExperto.html")#se.btn.waves-effect.waves-light.indigo.darken-4.right Continuar
                                        i.material-icons.right shopping_cart
                                    br
            .col.m2.s12
                img(src="../images/ifemale.png", alt="Persona amigable").responsive
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cerrar

script.
    $("a.btn-floating.halfway-fab.waves-effect.waves-light.green").click(function(){
        $('.modal').modal();
        $('#modal1').modal('open');
    });