style.
    #map { height: 450px; width: 100%;}

a.btn.btn-floating.pulse
    i.material-icons menu

.container
    .row
        nav.teal.lighten-2
            .nav-wrapper
                .col.s12
                    a.breadcrumb(href='home.html')
                        i.material-icons dashboard
                    a.breadcrumb(href='HS-005-ListaDeAbogados.html') Abogados
                    a.breadcrumb(href='#!') Detalle de abogado

    .row
        .col.s12.m6
            .card
                .card-image
                    img(src="../images/abogado4.jpg", alt="").circle.responsive-img.materialboxed
                    strong.card-title Carlos Casas
            .row
                .card
                    .card-panel.grey.lighten-5.z-depth-1
                        span.card-title Comentarios
                        .row.valign-wrapper
                            .col.s2
                                img(src='../images/usuarios/jorge.jpg', alt='').circle.responsive-img
                            .col.s10
                                strong.black-text
                                    | Jorge Luis Ricra Alcántara
                                br
                                span
                                    | Excelente guía! muy buen abogado!
                                br
                                span.cyan-text Puntos: 9
                                    time.right 12/02/2017 


                        .row.valign-wrapper
                            .col.s2
                                img(src='../images/usuarios/luna.jpg', alt='').circle.responsive-img
                            .col.s10
                                strong.black-text
                                    | Luna Dika Valerio
                                br
                                span
                                    | Es un abogado realmente inteligente, lo recomiendo mil veces.
                                br
                                span.cyan-text Puntos: 8
                                    time.right 12/02/2017                            
                        .row.valign-wrapper
                            .col.s2
                                img(src='../images/usuarios/shirley.jpg', alt='').circle.responsive-img
                            .col.s10
                                strong.black-text
                                    | Shirley Patricia Cosme Pucuhuaranga
                                br
                                span
                                    | Me agradó su trato, es muy amable y supo darte la orientación que realmente necesitaba.
                                br
                                span.cyan-text Puntos: 10
                                    time.right 27/03/2017
                        
                        a(href="#").blue-text Ver todos los comentarios
        .col.s12.m6
            .collection
                a.collection-item
                    span.badge 8.8
                    | Puntuación

            .row
                    ul(data-collapsible='accordion').collapsible
                        li.active
                            .collapsible-header.active
                                i.material-icons info_outline
                                | Resumen
                            .collapsible-body
                                span.text-justify Abogado tenaz y con sólida formación jurídica que jamás da un caso por perdido. Especialista en capitulaciones matrimoniales, derecho civil y demandas de indemnización por neglicencias médicas. Nacido en una familia de cuatro generaciones de abogados, mi máxima satisfacción profesional sería trabajar en una firma con tanto prestigio como Bufete Sánchez y Sánchez.
                        li
                            .collapsible-header
                                i.material-icons info
                                | Capacitaciones
                            .collapsible-body    
                                span CONCILIACIÓN EXTRAJUDICIAL
                                br
                                | Centro de Conciliación
                                br
                                | Pontificia Universidad Católica del Perú
                                br
                                | Diciembre 2000
                                br
                                br

                                span CURSO INTERNACIONAL DE CONCILIACIÓN LABORAL
                                | IPRECON-USAID
                                br
                                | Junio 1999
                                br
                                br

                                span RESPONSABILIDAD SOCIAL EN LA INDUSTRIA DEL PETRÓLEO - PETROPERU
                                br
                                | Lima Octubre 2005
                        li
                            .collapsible-header
                                i.material-icons library_books
                                | Información adicional
                            .collapsible-body               
                                p Director independiente de sociedades anónimas abiertas, año 2014 a la fecha.    
                                p Best Lawyers. Reconocimiento como “Lawyer of the year. Criminal Defense” 2014.    
                                p Club Deportivo Universidad Católica. Mejor deportista rama de triatlón 2003.                            
                                p Presidente Nacional de Hotelga.
                                p Instituto de Ciencias Penales. Miembro del Instituto de Ciencias Penales, desde el año 1986 a la fecha.
                                p Asociacion Internacional de Derecho Penal. Socio de la Sección Chilena, desde el año 1988 a la fecha.
                                p Colegio de Abogados de Chile A.G. Miembro desde el año 1982 a la fecha.
            .row                
                .col.s12.m12
                    .collection
                        a.collection-item
                            span.badge Puno y Guido #452
                            | Ubicación
                        #map
script.
    $('.materialboxed').materialbox();
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTxa8i8ohlgOD_hgIilCdyoXfbY-b-UqI&amp;callback=initMap" async defer></script>