.container
    .row
        .col.offset-m4.s12.m4
            .card
                .card-content.green
                    p.center.white-text Llamada en proceso

                .card-image
                    img(src="../images/abogado2.jpg", alt="")
                    .row
                        .col.push-m3
                            span.card-title.indigo-text
                                i.material-icons.small volume_up

                        .col.push-m4
                            span.card-title.indigo-text
                                i.material-icons.small settings_voice
                        .col.push-m5
                            span.card-title.indigo-text
                                i.material-icons.small message
                        br
                    .row
                        .col.offset-m6.m4
                            span.card-title.red-text
                                i.material-icons.medium call_end
                .card-content
                    .input-field
                        textarea#textarea1.materialize-textarea
                        label(for="textarea1")